.chart {
    -fx-background-color: #333333;
}

.chart-title {
  -fx-text-fill: #eeeeee;
  -fx-font-size: 1.6em;
}

.axis-label {
  -fx-text-fill: #bbbbbb;
  -fx-font-size: 1.2em;
}

.chart-plot-background {
    -fx-background-color: #bbbbbb;
}
.chart-vertical-grid-lines {
    -fx-stroke: #99bbbb;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #99bbbb;
}
.chart-alternative-row-fill {
    -fx-fill: #cccccc;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

// Lines
.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #ff0000; }
.default-color1.chart-series-line { -fx-stroke: #00ffff; }
.default-color2.chart-series-line { -fx-stroke: #0000ff; }

.default-color0.chart-line-symbol { -fx-background-color: #ff0000 }
.default-color1.chart-line-symbol { -fx-background-color: #00ffff }
.default-color2.chart-line-symbol { -fx-background-color: #0000ff }

// Legend
.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}

.chart-legend-item-symbol {
   -fx-background-radius: 2;
}

.chart-legend-item {
    -fx-text-fill: #bbbbbb;
}